<html>
	<head></head>

	<body>
		<h2>Please tell us about yourself:</h2>
		<form action="/write-db" method="post"> 
			<div>
				<label for='name'>Name:</label>
				<input id='name' type='text' placeholder='Pika' name="name"></input>
			</div>
			<div>
				<label for='coat'>Coat:</label>
				<input id='coat' type='text' placeholder='Tabby' name="coat"></input>
			</div>
			<div>

				<label for='donut'>Favorite Donut:</label>
				<input id='donut' type='text' placeholder='Jelly' name="donut"></input>
			</div>

			<button type='submit'>Submit Info</button>	
		</form>
	</body>
</html>